In [10]:
# Import Dependencies
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify
import psycopg2

In [9]:
# Create an engine for the sql database
conn_string = "host='localhost' dbname='Project-3'\
    user='postgres' password='Dee 1s the best'"
    
conn = psycopg2.connect(conn_string)

In [12]:
data = pd.read_sql('select * from ufo_comments', conn)
data.head()

,id,date_ocurrence,latitude,longitude,comments
0,0,1949-10-10,29.883056,-97.941111,This event took place in early fall around 194...
1,1,1949-10-10,29.384210,-98.581082,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10,53.200000,-2.916667,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10,28.978333,-96.645833,My older brother and twin sister were leaving ...
4,4,1960-10-10,21.418056,-157.803611,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [ ]:
# # Reflect Database into ORM classes
# Base = automap_base()
# Base.prepare(autoload_with=engine)
# Base.classes.keys()

# # Save reference to the table
# variable = Base.database.table

In [ ]:
# Flask Setup
app = Flask(__name__)

# Flask Routes
@app.route("/home")
def welcome():
    """List all available api routes."""
    return (
        f"Available Routes:<br/>"
        f"/api/v1.0/complete<br/>"
    )


@app.route("/api/v1.0/complete")
def sightings():
    # Create our session (link) from Python to the DB
    session = Session(engine)

    """Return a list of all passenger names"""
    # Query all passengers
    results = session.query(table.column).all()

    session.close()

    # Convert list of tuples into normal list
    all_names = list(np.ravel(results))

    return jsonify(all_names)

if __name__ == '__main__':
    app.run(debug=True)